.list_box {
    width: 100%;
}
.title_box{
    background-color: white;
    height: 4.16vmax;
    padding: 0 1.66vmax;
    border-bottom: #eee 1px solid;
    cursor: pointer;
    transition: all 0.25s;
}
.title_box p{
    font-size: 0.91vmax;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    font-family: 'Krona One', sans-serif;
    font-weight: bold;
    transition: all 0.5s;
}
.title_box svg{
    fill: lightgray;
    transition: all 0.25s;
}
.title_box.open svg{
    fill: black;
    transform: rotate(90deg);
}
.title_box:hover p{
    letter-spacing: 0.2vw;
    transform: scale(1.2) rotate(-3deg);
}
.list_link{
    background-color: #838d8f;
    height: 0;
    overflow: hidden;
    padding: 0;
}
.list_link a {
    color: rgb(204, 203, 203);
    font-size: 1.08vmax;
    text-decoration: none;
    display: block;
    width: 100%;
    transition: all 0.5s;
    font-family: 'Arvo';
}
.list_link a:hover {
    color: white;
    margin-left: 0.5vmax;
}
.list_link li {
    margin-bottom: 1.25vmax;
}
.list_link li:last-of-type{
    margin-bottom: 0;
}
.list_link.open{
    height: auto;
    overflow: auto;
    padding: 1.66vmax;
}